@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.outer-div{
  align-items: center;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid gray;
}
.inner {
  position: absolute;
  color: #6f7287;
  border: 1px solid #a9a8b3;
  border-radius: 100px;
  background: #fff;
  display: inline-block;
  padding: 0 12px 3px;
  min-width: 20px;
  text-align: center;
}
.info {
  background: url('../../public/desktop-modal-white.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  color: black;
  padding-left: 20px;
}
.info h2 {
  font-size: 35px;
  color: rgb(0, 120, 86);
  margin-top: 2em;
  font-weight: 200;
}
.info p{
  width: 50%;
  line-height: 1.375rem;
  margin-top: 1em;
  font-weight: 300;
}
.init {
  border: 1px solid #007856;
  background: white;
  color: green;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
}


.footer {
  background-color: #1e0a3d;
  color: white
}
header {
  background: linear-gradient(rgb(70, 158, 55) 0%, rgb(64, 130, 83) 40%, rgb(0, 123, 85) 70%);
  color: white !important;

  /* width: 100%; */
}
.choose {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  border: 1px solid gray;
}
.first {
  width: 50%;
  height: 100%;
  border: 1px solid;
  background: #007856;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight: 100;
  font-size: 13px;
}
.second {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  font-weight: 100;
  font-size: 13px;
}
.bttn {
  background-color: #007856;
  color: white;
}
.bttn:hover {
  background-color: white;
  color:rgb(0, 120, 86);
  border: 1px solid rgb(0, 120, 86);

}
.login-icon {
  fill: rgb(0, 120, 86);
  margin-left: 4px;
  margin-top: -3px;
  padding: 0px;
  height: 16px;
  width: 16px;
}
.sec {
  text-align: center !important;
}
.imgs {
  border-style: none;
  position: absolute;
  margin-left: 165px;
  margin-top: 3px;
}
.personal-business {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 12px;

}
.personal-business li {
  display: inline-block;
  color: rgb(0, 120, 86);
}
.ff {
  width: 100%;
}
.hidden-against-adblock {
  display: none;
}
.links{
  display: block;
}
.right-menu{
  display: block;
}
.left-menu {
  display: none;
}
.logo_div{
  position: absolute;
  left: 45%;
}

.sidebar {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  left: -100%;
}
.sidebar.active{
  left: 0;
}
.sidebar ul {

  padding-left: 10%;
  border-right: 1px solid #dcdcdc;
  color: gray
}
.btn-like{
  border:1px solid rgb(0, 120, 86);
  width: 40%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color:rgb(0, 120, 86);
}
.f1{
 width: 70%;
 font-size: 30px;

}
.f2{
  width: 30%
}
.all_a{

}
.all_a:hover{
  text-decoration: underline;
}
.close_btn {
  position: absolute;
  left: 95%;
  margin-top: -10px
}
.sidebar_header{
  display: none;
}
.first_li{
  display: block;
}


.dropbtn {
  padding: 16px;
  padding-left: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  padding-left: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}





@media only screen and (max-width: 1124px) {
  .sidebar_header{
    display: flex;
    justify-content: center;
    width: 100%
  }
  .first_li{
    display: none;
  }
  .links{
    display: none !important;
  }
  .right-menu{
    display: none;
  }
  .left-menu{
    display: block;
  }
  header {
    display: flex;
    justify-items: center !important;
  }
  .f2 {
    display: none
  }
  .f1{
    width: 100%
  }

}
@media only screen and (max-width: 623px) {
  .first{
    font-size: 12px
  }
  .second{
    font-size: 12px
  }
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20%;
}